/* font */
@font-face {
    font-family: Somar;
    src: url(../fonts/alfont_com_SomarGX.ttf);
}

/* Variables */
:root {
    --main-color: #55FEBE;
    --second-main-color: #40D7FF;
    --third-main-color: #4A7EFF;
    --background-color: #F8FBFF;
    --font-color: #3A3D56;
    --dark-blue: #383F82;
    --light-gray: #D1D4E9;
    --white: #fff;
    --gradiant-color: linear-gradient(270deg, #4A7EFF, #55FEBE);
    --box-shadow: 7px 10px 34px 0 rgba(74 125 255 / 10%);
}

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Somar';
}

*::selection {
    background-color: var(--dark-blue);
    color: var(--background-color);
}

html {
    position: relative;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
}

.flex-center {
    display: flex;
    align-items: center;
}

/* Start cols */

.cols {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    inset-block: 0;
    inset-inline: 0;
}

.col {
    block-size: 100%;
    inline-size: 0.1px;
    background-color: rgb(56 63 130 / 10%);
}

@media (max-width: 991px) {
    .cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* End cols */