/* font */
@font-face {
    font-family: Somar;
    src: url(../fonts/alfont_com_SomarGX.ttf);
}

/* Variables */
:root {
    --main-color: #55FEBE;
    --second-main-color: #40D7FF;
    --third-main-color: #4A7EFF;
    --background-color: #F8FBFF;
    --font-color: #3A3D56;
    --dark-blue: #383F82;
    --light-gray: #D1D4E9;
    --white: #fff;
    --gradiant-color: linear-gradient(270deg, #4A7EFF, #55FEBE);
    --box-shadow: 7px 10px 34px 0 rgba(74 125 255 / 10%);
    --main-transition-duration: 0.3s;
}

/* Start global rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Somar';
}

*::selection {
    background-color: var(--dark-blue);
    color: var(--background-color);
}

html {
    position: relative;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
}

.flex-center {
    display: flex;
    align-items: center;
}

.container {
    inline-size: 100%;
    padding-inline: 12rem;
    margin-inline: auto;
    position: relative;
}

/* Small */
@media (max-width: 62em) {
    .container {
        padding-inline: 1.25rem;
    }
}

section {
    margin-block: 4rem;
    position: relative;
}

@media (max-width: 62em) {
    section {
        margin-block: 2rem;
    }
}

.section-title {
    color: var(--dark-blue);
    font-size: 3rem;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
}

@media (max-width: 48em) {
    section-title {
        font-size: 2rem;
    }
}

/* End global rules */

/* Start cols */

.cols {
    position: absolute;
    inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    inset-block: 0;
    inset-inline: 0;
}

.col {
    block-size: 100%;
    inline-size: 0.1px;
    background-color: rgb(56 63 130 / 10%);
    z-index: 10;
}

@media (max-width: 62em) {
    .cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* End cols */

/* Start header */
header {
    position: relative;
}

header::after {
    position: absolute;
    content: '';
    inline-size: 100%;
    block-size: 120vh;
    background: url(../images/header_pattern.png) no-repeat;
    background-size: cover;
    inset-block: 0;
    inset-inline: 0;
    z-index: -1;
}

header .container {
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.25rem;
}

.logo-container {
    inline-size: 10.125rem;
    block-size: 3rem;
    margin-block: 1.875rem;
}

.logo__img {
    max-inline-size: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    inline-size: 1.25rem;
    block-size: 0.125rem;
    border-radius: 1px;
    margin: 0.25rem auto;
    background-color: var(--dark-blue);
    transition: var(--main-transition-duration);
}

.main-nav {
    transition: 0.5s ease-in-out;
}

.main-nav__list {
    margin-inline: 1rem;
    transition: 0.5s ease-in-out;
}

.main-nav__item {
    margin-inline-start: 2.5rem;
}

.main-nav__item:last-of-type {
    display: none;
}

.main-nav__link {
    color: var(--font-color);
    transition: var(--main-transition-duration);
}

.main-nav__link:hover {
    color: var(--third-main-color);
    font-weight: 700;
}

.main-nav__btn {
    display: block;
    padding: 0.6em 2rem;
    background-color: var(--third-main-color);
    color: var(--white);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 130%;
    text-align: center;
}

.main-nav__icon {
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    color: var(--white);
    margin-inline-start: 6px;
    transform: rotate(-40deg);
}

.more-info .lang {
    margin-inline-end: 4rem;
    color: var(--third-main-color);
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.more-info .lang:nth-of-type(2) {
    display: none;
}

.more-info .login-btn {
    min-inline-size: 7rem;
    padding: 0.75rem;
    text-align: center;
    color: var(--dark-blue);
    border: 2px solid #000;
    border-radius: 6px;
    transition: var(--main-transition-duration);
}

.more-info .login-btn:hover {
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 25%);
}

@media (max-width: 62em) {
    header .container {
        background-color: var(--background-color);
    }

    .hamburger {
        display: block;
        order: 1;
    }

    .logo-container {
        inline-size: 5.375rem;
        block-size: 1.625rem;
        margin-block: 1rem;
        order: 2;
    }

    .main-nav:hover .hamburger .bar:nth-child(2) {
        opacity: 0;
    }

    .main-nav:hover .hamburger .bar:nth-child(1) {
        transform: translateY(0.5rem) rotate(45deg);
    }

    .main-nav:hover .hamburger .bar:nth-child(3) {
        transform: translateY(-0.3rem) rotate(-45deg);
    }

    .main-nav:hover .main-nav__list {
        display: flex;
    }

    .main-nav:hover .main-nav__item:last-of-type {
        display: block;
    }

    .main-nav__list,
    .main-nav__item,
    .more-info .lang {
        margin: 0;
    }

    .main-nav__list {
        position: fixed;
        inline-size: 100%;
        inset-block-start: 2.8rem;
        inset-inline: 0;
        inset-block-end: 0;
        flex-direction: column;
        background-color: var(--background-color);
        z-index: 5;
        display: none;
        transition: var(--main-transition-duration);
    }

    .main-nav__item {
        padding: 1.25rem;
        inline-size: 100%;
        transition: var(--main-transition-duration);
    }

    .main-nav__link,
    .main-nav__link:hover {
        color: #383F82;
    }

    .main-nav__item:hover .main-nav__link {
        padding-inline-start: 10px;
    }

    .more-info {
        order: 3;
    }

    .main-nav:hover+.more-info {
        display: none;
    }

    .login-btn {
        display: none;
    }

    .more-info .lang:nth-of-type(1) {
        display: none;
    }

    .more-info .lang:nth-of-type(2) {
        display: block;
        letter-spacing: normal;
    }
}

/* End header */

/* Start main */

/* Start landing section */
.landing__pattern {
    position: absolute;
    background: url(../images/landing_pattern.png) no-repeat;
    background-size: contain;
    block-size: 15rem;
    inline-size: 18rem;
    inset-block-start: -6.25rem;
    inset-inline-start: 1.875rem;
}

.landing__title {
    color: var(--dark-blue);
    font-size: 6.875rem;
    font-weight: 900;
    margin-block: 0 3.375rem;
}

.landing-content__container {
    justify-content: space-between;
}

.landing__content {
    inline-size: 48%;
    flex-direction: column;
    align-items: flex-start;
}

.landing__subtitle {
    color: var(--font-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 140%;
}

.landing__body {
    color: var(--font-color);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 160%;
    margin: 1.25rem 0 3.25rem;
}

.landing__btn {
    display: block;
    padding: 0.6em 2rem;
    background-color: var(--third-main-color);
    color: var(--white);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 130%;
}

.landing__icon {
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    color: var(--white);
    margin-inline-start: 6px;
    transform: rotate(-40deg);
}

@media (max-width: 62em) {
    .landing__pattern {
        block-size: 12rem;
        inline-size: 14rem;
        inset-block-start: -5.5rem;
        inset-inline-start: -6.5rem;
        z-index: -1;
    }

    .landing__title {
        font-size: 2.75rem;
        line-height: 140%;
        margin-block: 0 1.5rem;
    }

    .landing-content__container {
        flex-direction: column;
    }

    .landing__content {
        inline-size: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .landing__subtitle {
        font-size: 1.5rem;
    }

    .landing__body {
        inline-size: 90%;
        font-size: .875rem;
        margin: 1rem 0 1.5rem;
    }

    .landing__btn {
        inline-size: 100%;
        font-size: 1rem;
        text-align: center;
    }
}

/* End landing section */

/* Start benefits section */
.benefits__pattern {
    position: absolute;
    background: url(../images/benefits_pattern.png) no-repeat;
    background-size: contain;
    block-size: 26rem;
    inline-size: 26rem;
    inset-block-end: -2rem;
    inset-inline-start: -1rem;
}

.benefits .container {
    justify-content: space-between;
}

.benefits__image {
    inline-size: 48%;
}

.benefits__image img {
    max-inline-size: 100%;
}

.benefits__content {
    inline-size: 48%;
}

.benefits__body {
    color: var(--font-color);
    font-size: 1rem;
    line-height: 160%;
    margin-block: 1.5rem 2rem;
    inline-size: 80%;
}

.benefits__video {
    color: var(--dark-blue);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
}

.benefits .landing__icon {
    color: var(--dark-blue);
}

@media (max-width: 62em) {
    .benefits__pattern {
        block-size: 18rem;
        inline-size: 18rem;
        inset-block-end: 14rem;
        inset-inline-start: -6rem;
    }

    .benefits .container {
        flex-direction: column;
    }

    .benefits__image {
        margin-block-end: 2.5rem;
    }

    .benefits__image,
    .benefits__content,
    .benefits__body {
        inline-size: 100%;
    }

    .benefits__body {
        font-size: .875rem;
        margin-block: 1rem 1.5rem;
    }
}

/* End benefits section */

/* Start about section */
.about {
    background: url(../images/about_pattern.png) no-repeat;
    background-size: cover;
    margin-block-end: 0;
}

.about .container {
    justify-content: space-between;
}

.about__image {
    inline-size: 48%;
    margin-block-end: 4rem;
}

.about__image img {
    max-inline-size: 100%;
}

.about__content {
    inline-size: 48%;
}

.about__header {
    justify-content: space-between;
    margin-block-end: 2rem;
}

.about__more {
    color: var(--dark-blue);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
}

.about .landing__icon {
    color: var(--dark-blue);
}

.about__body {
    justify-content: space-between;
    margin-block-end: 4rem;
}

.about__text {
    color: var(--font-color);
    font-size: 1rem;
    line-height: 160%;
    inline-size: 46%;
}

@media (max-width: 62em) {

    .about .container,
    .about__body {
        flex-direction: column;
    }

    .about__body {
        align-items: flex-start;
        margin-block-end: 2rem;
    }

    .about__image {
        margin-block-end: 2.5rem;
    }

    .about__image,
    .about__content,
    .about__text {
        inline-size: 100%;
    }

    .about__text {
        font-size: .875rem;
        margin-block-end: 1rem;
    }
}

/* End about section */

/* End main */

/* Start footer */
.footer>.container {
    background-color: #3C4387;
    min-block-size: 26em;
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
    column-gap: 4rem;
    padding-block: 4rem;
}

.footer .logo-container {
    display: block;
    inline-size: 9rem;
    block-size: 2.375rem;
    margin-block: 0 5rem;
}

.footer__title {
    margin-block-end: 2.34375em;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 150%;
}

.footer__description {
    font-size: 1rem;
}

.navigation__list {
    flex-direction: column;
    align-items: flex-start;
}

.navigation__item:not(:last-of-type) {
    padding-block-end: 1.8rem;
}

.navigation__link {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 400;
}

.navigation__link:hover {
    font-weight: 600;
}

.footer__image {
    inline-size: 18rem;
}

.footer__image img {
    inline-size: 100%;
    object-fit: contain;
}

.copywrite {
    min-block-size: 3em;
    background-color: var(--dark-blue);
    padding-block: .8rem;
}

.copywrite .container {
    justify-content: space-between;
}

.copywrite__content {
    font-size: 1rem;
    color: var(--white);
}

.social__link {
    inline-size: 1.75rem;
    block-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: .5rem;
}

.social__icon {
    max-inline-size: 100%;
    color: var(--light-gray);
}

.social__link:hover .social__icon {
    color: var(--main-color);
}

@media (max-width:62em) {
    .footer>.container {
        padding-block: 2rem;
    }

    .footer .logo-container {
        margin-block: 0 2rem;
    }

    .footer__title {
        margin-block: 2.5rem 1rem;
    }

    .footer__description {
        inline-size: 100%;
    }

    .navigation__link {
        font-size: 1rem;
    }

    .footer__image {
        inline-size: 15rem;
    }

    .copywrite .container {
        flex-direction: column;
    }

    .copywrite__content {
        margin-block-end: .625rem;
    }

}

/* End footer */